* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #F5F5F5;
}
.container-dischi{
    width: 1070px;
    height: 100%;
    margin: auto;
    padding: 100px 0;
}
.disco {
    width: 200px;
    height: 300px;
    background-color: SlateGrey;
    padding: 10px;
    float: left;
    color: white;
    font-family: sans-serif;
}
.disco img {
    max-width: 100%;
}
